@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Scheherazade New", serif;
}

@layer components {
  .container-style {
    @apply container mx-auto px-4 sm:px-8 md:px-16 lg:px-24 py-8;
  }
}
